* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/TravelExpertImage.png) no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;

  height: 100vh;

  text-align: center;
}

main {
  padding: 160px 0 0;
}

h1 {


  font-family: 'Cinzel', serif;
  font-size: 64px;
  line-height: 86px;
  color: #151718;
}

h1 span {
  color: hsla(333, 71%, 51%, 1)
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(44, 46, 47, 0.9);

  margin: 4px 0 72px
}

footer {
  display: flex;
  justify-content: center;
  gap: 16px
}

a {
  padding: 16px 32px;

  font-family: 'Cinzel', serif;
  color:hsla(200, 7%, 9%, 1);
}

#buttonTravel, a:hover {
  background: #DB2777;
  border-radius: 80px;
  color: white;
  text-decoration: none;
  transition: background 0.5s;
}

#buttonTravel:hover {
  background: #af2a66;
}